.photos-root {
  width: 95%;
  border-radius: 10px;
}

.photos-logo {
  width: 95%;
  height: 95%;
  border-radius: 10px;
}

.photos-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.photos-row {
  margin-top: 20px;
}
